.container {
  /* padding: 20px 150px 20px 30px; */
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 100px;
  width: 75vw;
}

.subcontainer_card {
  padding: 30px 10px 40px 10px;
  margin-top: 40px;
  width: 85%;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(246, 199, 25, 0.2);
  max-width: 50rem;
}

.container_card {
  padding: 0 50px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  max-width: 55rem;
}

.container_board {
  margin: 15px 0;
  padding: 25px 20px 10px 30px;
  align-items: center;
  text-align: left;
  justify-content: center;
  background-color: #fefaf1;
  cursor: pointer;
  min-width: 35rem;
}

.container_board:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.words p {
  font-size: smaller;
  color: #464646;
  height: 45px;
}

.date {
  gap: 190px;
  display: flex;
  align-items: flex-end;
  align-items: center;
}

.publish {
  display: flex;
  align-items: center;
}

.deleteIcon {
  margin-left: 1rem;
  color: #7e7e7e;
}

.deleteIcon:hover {
  color: #bdbdbd;
}

.date p {
  color: #7e7e7e;
  font-size: 12px;
}

.scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.customLabel {
  color: #929292;
}

.centeredText {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  color: rgb(131, 131, 131);
}

.butName {
  background-color: #9c7b16;
  color: white;
  height: 40px;
  margin-top: 40px;
  font-size: 12px;
  border: none;
}